$purple: #AC6EFF;
$blue: #2414DB;
$text-color: #2B2E39;

.home{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: black;
    overflow: hidden;
    &__main{
        min-width: 80%;
        height: 150%;
        background-color: white;
        position: relative;
        top: -25%;
        border-start-end-radius:580px;
        border-end-end-radius:580px;
        display: flex;
        align-items: center;
        z-index: 3;
        
        &__inner{
            position: absolute;
            height: 60%;
            width: 90%;
            padding: 2rem 8rem;
            display: flex;
            align-items: center;
            &__result{
                
                & #result{
                    color: $text-color;
                    font-family: "Poppins";
                    font-size: 29px;
                    font-weight: 200;
                }
                
            }
            &__content{
                display: flex;
                flex-direction: column;
                height: 70%;
                justify-content: space-between;
            }
            &__form{
                width: 70%;
                position: relative;
                & form{

                    
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    row-gap: 4rem;
                }
            }
            &__brandname{
                position: absolute;
                top: 1rem;
                & #brandname{
                    font-size: 43px;
                    color: $text-color;
                    font-family: 'Poppins';
                    font-weight: 700;
                }
            }

            &__title{
                width: 70%;
                & #title{
                    font-size: 85px;
                    color: $text-color;
                    font-family: 'Poppins';
                    font-weight: 800;
                }
            }
           
        }
        // Extra Bold, 85pt, 2B2E39, with h2 tag

    }
    &__gradient{
        width: 40%;
        position: absolute;
        right: 0;
        display: flex;
        height: 100%;
        z-index: 1;
        background-color: black;
        background: linear-gradient(60deg, $purple 0%, $blue 100%);
    }
}
// #2414DB and #AC6EFF with a 60-degree angle